<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Begin Head -->
<head>
    <% include ./partials/head %>
</head>
<!-- End Head -->


<!-- Begin Body -->
<body>

    <!-- Begin Loader -->
    <% include ./partials/loader %>
    <!-- End Loader -->

    <!-- Begin Header -->
    <header>
        <% include ./partials/header %>
    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <div class="wrapper">

          <div id="updateFlickerImagesBtn">
            <h4>Update Flicker Images</h4>
            <a href="/updateFlickerImages" class="button-large style-3">UPDATE</a>
          </div>
        </div>


    </div>
    <!-- End Content -->


    <!-- Begin Footer -->
    <footer>
      <% include ./partials/footer %>
    </footer>
    <!-- End Footer -->

    <% include ./partials/scripts %>


</body>
<!-- End Body -->

</html>
