<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Begin Head -->
<head>
    <% include ./partials/head %>
</head>
<!-- End Head -->


<!-- Begin Body -->
<body>

    <!-- Begin Loader -->
    <div class="loader" data-background-color="#000000" data-text-color="#ffffff">
        <p>LOADING</p>
        <span class="circle"></span>
    </div>
    <!-- End Loader -->

    <!-- Begin Header -->
    <header>
        <% include ./partials/header %>
    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <!-- Begin Wrapper -->
        <div class="wrapper">

            <!-- Begin Inner Wrapper -->
            <div class="inner-wrapper">

                <!-- Begin Gallery -->
                <div class="gallery-albums grid">

                    <div class="albums clearfix cols-4">

                        <div class="album size-regular filter-indoors filter-models">

                            <div class="album-cont">

                                <img class="lazy" data-original="https://farm1.staticflickr.com/301/18955460780_5e7d246e8a.jpg" alt="" data-width="475" data-height="370">

                                <a href="/" class="overlay">

                                    <h5>Featured</h5>

                                    <span class="love icon1-heart-empty"></span>
                                    <span class="love-2 icon1-heart"></span>

                                </a>

                            </div>

                        </div>

                        <div class="album size-regular filter-outdoors filter-models filter-fashion">

                            <div class="album-cont">

                                <img class="lazy" data-original="https://farm1.staticflickr.com/261/18956105248_26f672ed61.jpg" alt="" data-width="475" data-height="370">

                                <a href="/" class="overlay">

                                    <h5>Dogs</h5>

                                    <span class="love icon1-heart-empty"></span>
                                    <span class="love-2 icon1-heart"></span>

                                </a>

                            </div>

                        </div>

                        <div class="album size-regular filter-indoors filter-models">

                            <div class="album-cont">

                                <img class="lazy" data-original="https://farm4.staticflickr.com/3790/19032519638_be6b61a818.jpg" alt="" data-width="475" data-height="370">

                                <a href="/" class="overlay">

                                    <h5>Scenery</h5>

                                    <span class="love icon1-heart-empty"></span>
                                    <span class="love-2 icon1-heart"></span>

                                </a>

                            </div>

                        </div>

                        <div class="album size-regular filter-outdoors ">

                            <div class="album-cont">

                                <img class="lazy" data-original="https://farm1.staticflickr.com/305/19506840485_7d2c6f3aa9.jpg" alt="" data-width="475" data-height="370">

                                <a href="/" class="overlay">

                                    <h5>Print</h5>

                                    <span class="love icon1-heart-empty"></span>
                                    <span class="love-2 icon1-heart"></span>

                                </a>

                            </div>

                        </div>


                    </div>

                </div>
                <!-- End Gallery -->

            </div>
            <!-- End Inner Wrapper -->

        </div>
        <!-- End Wrapper -->

    </div>
    <!-- End Content -->


    <!-- Begin Footer -->
    <footer>

        <p class="copyrights">© WR PHOTOGRAPHY | ALL RIGHTS RESERVED</p>


    </footer>
    <!-- End Footer -->

    <% include ./partials/scripts %>


</body>
<!-- End Body -->

</html>
