<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Begin Head -->
<head>
    <% include ./partials/head %>
</head>
<!-- End Head -->


<!-- Begin Body -->
<body>

    <!-- Begin Loader -->
    <% include ./partials/loader %>
    <!-- End Loader -->

    <!-- Begin Header -->
    <header>
        <% include ./partials/header %>
    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <!-- Begin Wrapper -->
        <div class="wrapper">

            <!-- Begin Horizontal Gallery -->
            <div class="gallery-h centered">

                <div class="nav">
                    <a href="#" class="prev icon4-leftarrow23"></a>
                    <a href="#" class="next icon4-chevrons"></a>
                </div>

                <div class="gallery clearfix">

                    <div class="container">

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/549/19143124365_7af5412577.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/549/19143124365_7af5412577.jpg" alt="" data-width="1920" data-height="965">
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/274/19116956786_28c45f500f.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/274/19116956786_28c45f500f.jpg" alt="">
                            </a>
                        </div>

                        <div class="img active">
                            <a href="https://farm1.staticflickr.com/301/18955460780_5e7d246e8a.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/301/18955460780_5e7d246e8a.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm4.staticflickr.com/3893/18520623604_88d6334bfa.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm4.staticflickr.com/3893/18520623604_88d6334bfa.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/505/19137411492_b533dbf3aa.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/505/19137411492_b533dbf3aa.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/372/18522526093_2842c4d60a.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/372/18522526093_2842c4d60a.jpg" alt="">
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/372/18520638234_ba6ae7d0c4.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/372/18520638234_ba6ae7d0c4.jpg" alt="">
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/457/19137431492_463ddff49c.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/457/19137431492_463ddff49c.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm4.staticflickr.com/3768/18571797354_54f5e7b532.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm4.staticflickr.com/3768/18571797354_54f5e7b532.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/453/18597882023_8340bbc890.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/453/18597882023_8340bbc890.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href=  "https://farm1.staticflickr.com/414/18598063813_4b9fc16078.jpg" rel="gallery">
                                <img class="lazy" data-original=  "https://farm1.staticflickr.com/414/18598063813_4b9fc16078.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/408/19032767679_bd911779ae.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/408/19032767679_bd911779ae.jpg" alt="">
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/492/19031333498_7101b72e87.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/492/19031333498_7101b72e87.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm4.staticflickr.com/3844/19031279740_3f25309893.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm4.staticflickr.com/3844/19031279740_3f25309893.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/501/19222837631_1c66213157.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/501/19222837631_1c66213157.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/319/18596654414_c09a7552fb.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/319/18596654414_c09a7552fb.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/366/19219152005_43d710e235.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/366/19219152005_43d710e235.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/464/19220002215_38463221f5.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/464/19220002215_38463221f5.jpg" alt="">
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm4.staticflickr.com/3843/19193915406_9cf79757b4.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm4.staticflickr.com/3843/19193915406_9cf79757b4.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/491/19193936316_55a719b276.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/491/19193936316_55a719b276.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/545/19223797051_fccce799c3.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/545/19223797051_fccce799c3.jpg" alt="" >
                            </a>
                        </div>

                        <div class="img">
                            <a href="https://farm1.staticflickr.com/556/18599728763_697cd88015.jpg" rel="gallery">
                                <img class="lazy" data-original="https://farm1.staticflickr.com/556/18599728763_697cd88015.jpg" alt="">
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <!-- End Horizontal Gallery -->

        </div>
        <!-- End Wrapper -->

    </div>
    <!-- End Content -->


    <!-- Begin Footer -->
    <footer>

        <p class="copyrights">© WR PHOTOGRAPHY | ALL RIGHTS RESERVED</p>

    </footer>
    <!-- End Footer -->

    <% include ./partials/scripts %>


</body>
<!-- End Body -->

</html>
