<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Begin Head -->
<head>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
</head>
<!-- End Head -->


<!-- Begin Body -->
<body>

    <!-- Begin Content -->
    <div class="main-container with-padding">
      <div id="firebaseui-auth-container"></div>
    </div>
    <!-- End Content -->

    <% include ./partials/scripts %>


</body>
<!-- End Body -->

</html>
