<h1>Gallery</h1>

<div class="gallery" >
    <div ng-repeat="thumbnail in thumbnails"> 
        <a  href="/#/contact" ng-click="selectFolder(thumbnail.title)" >
            <img class="thumbnail"
                ng-src="{{ thumbnail.thumbnail }}" alt="{{ thumbnail.title}}"/>
            <p>{{ thumbnail.title }}</p>
        </a>
      </div>
        
</div>