<h1>Gallery</h1>

<div class="gallery" >
    <div ng-repeat="thumbnail in thumbnails"> 
        <a  ng-click="selectFolder(thumbnail.name)" >
            <img class="thumbnail"
                ng-src="{{ thumbnail.thumbnail }}" alt="{{ thumbnail.name}}"/>
            <p>{{ thumbnail.name }}</p>
        </a>
      </div>
        
</div>