

<a href="index.html" class="logo-container">
    <p>WR PHOTOGRAPHY</p>
</a>

<nav>
    <ul>
        <li>
            <a id='menuHome' href="/">
              HOME
            </a>
        </li>
        <li>
            <a id='menuGallery' href="/gallery">
                GALLERY
            </a>
        </li>
        <li>
            <a id='menuContact' href="/contact">
                CONTACT
            </a>
        </li>
    </ul>
</nav>

<a href="#" class="mobile-navigation icon3-list2"></a>
