
    <meta charset="utf-8">
    <title>WR Photography</title>

    <!-- Begin Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="WR Photography"/>
    <meta name="keywords" content="HTML, CSS, JavaScript, Responsive, Photography"/>
    <meta name="author" content="CodeSymbol"/>
    <!-- End Meta Tags -->

    <link rel="icon" href="images/favicon.ico" />

    <!-- Begin Stylesheets -->
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/includes/entypo/style.css">
    <link type="text/css" rel="stylesheet" href="/includes/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="/includes/font_awesome/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/includes/cosy/style.css">
    <link type="text/css" rel="stylesheet" href="/js/jquery-ui/jquery-ui-1.10.3.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/js/flexslider/style.css">
    <link type="text/css" rel="stylesheet" href="/js/Magnific-Popup/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/js/mb.YTPlayer/css/YTPlayer.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="/css/dark.css">
    <!-- End Stylesheets -->
