*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    background-color: black;
}

h1 {
    display: block;
    color: #FCB720;
}

a {
    color: #FFFFFF;
}

.main-slider {
    height: 600px;
    display: flex;
}
.main-slider img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    overflow: hidden;
}

/* create the arrows for gallery*/
.slider__arrow
{
   position: absolute;
   top: 20%;
   display: block;
   width: 60px;
   height: 60px;
   border: none;
   border-radius: 50%;
   background-color: #000000;
   opacity: 0.7;
   cursor: pointer;
}

.slider__arrow:hover,
.slider__arrow:focus
{
   opacity: 1;
}

.slider__arrow:before,
.slider__arrow:after
{
   content: '';
   position: absolute;
   width: 10px;
   height: 40%;
   background-color: #FFFFFF;
}

.slider__arrow:before
{
   bottom: 12px;
}

.slider__arrow:after
{
   top: 12px;
}

.slider__arrow:hover:before,
.slider__arrow:focus:before,
.slider__arrow:hover:after,
.slider__arrow:focus:after
{
   background-color: #FCB712;
}

.slider__arrow--left
{
   left: 0.5em;
}

.slider__arrow--left:before
{
   transform: rotate(-40deg);
   left: 35%;
}

.slider__arrow--left:after
{
   transform: rotate(40deg);
   left: 35%;
}

.slider__arrow--right
{
   right: 0.5em;
}

.slider__arrow--right:before
{
   transform: rotate(40deg);
   right: 35%;
}

.slider__arrow--right:after
{
   transform: rotate(-40deg);
   right: 35%;
}

.gallery {
    display:-webkit-flex;
	display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery:after {
    flex: auto;
}
.gallery img {
    max-width: 300px;
    max-height: 200px;
}

.montage {
    justify-content: space-around;
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.montage img {
     max-width: 100%;
     height: auto;
     margin-top: 10px;
}